/*
 * This is a cascading style sheet for the configuration page.
 * 
 * $Revision: 98 $; $Date: 2017-06-04 22:22:16 +0100 (Sun, 04 Jun 2017) $
 *
 */

.userInput {
    margin-left: 1em;
}

.userInput select {
    font-size: 100%;
}

td {
    padding: 0.25em;
}

td button {
    width: 3em;
    height: 2em;
}

td button.selected {
    font-weight: bold;
    background-color: Coral;
}

input#count {
    width: 3em;
    text-align: right;
}

